debug/
python/imgs/
*.a
*.o
lcmtypes/*.c
lcmtypes/*.h
lcmtypes/*.hpp
lcmtypes/*.cpp
bin/*
java/.LCMTYPES_CLASS
java/build/*
java/rob550.jar
java/src/*
optitrack/common/lib/libcommon.a
python/lcmtypes/*
.DS_Store
.vscode-server
.ssh
.nano
.cmake
python/img/
python/img2/
.vscode/
*/__pycache__/*
test.mp4
test_orb.mp4
*.mp4
*.pyc
images/
cameraInfo.json
video_images/
python/video_images/
*.csv
video_streaming/lcmtypes/*
video_streaming/vid_stream
